<!-- <header class="header minwidth">
	<a href="gw.html" class="pull-left"><img
			src="#" height="59" alt=""></a> <a
			href="gw.html" class="pull-left two-logo"><img
			src="#" height="59" alt=""> </a>
	<div class="english-ch pull-left">
		[<a ng-class="{'active':lang==='en'}" id="english" ng-click="switchLanguage('en')">English</a>|<a ng-class="{'active':lang==='cn'}" id="chinese" ng-click="switchLanguage('cn')">中文</a>]
	</div>
	<div class="personal pull-right">
		<a><i class="icon iconfont">&#xe602;</i>欢迎回来：{{userName
				|| account}}</a> <a href="#"><i class="icon iconfont">&#xe624;</i>Home</a><a href="#"><i class="icon iconfont">&#xe624;</i>注销</a>
	</div>
</header> -->
<div data-ui-view></div>
<!-- <footer class="footer" data-ng-include=" 'tpl/footer.html' "></footer> -->