
<div class="wrap">
    <div id="szcpage">
        <div class="navi ssq_banner">
            <div class="nav_logo">
            </div>
            <div class="nav_box">
                <h3>双色球</h3>
            </div>
            <div class="fl sale-time">
                <strong class="gameperiod">第<span id="top_curissuse">2017-043</span>期</strong>
                <div style="display: block" class="nav_time">
                    双色球停售时间：<span id="project_endtime">2017-04-16 19:40:00</span></div>
            </div>
            <div class="nav-bottom">
                <p class="nav_links">
                    <a href="javascript:void(0)">双色球走势图</a>
                    |<a href="javascript:void(0)">双色球玩法介绍</a></p>
            </div>
        </div>
        <div class="lottery_wrap">
            <div class="ssq_main clear">
                <div class="buy_single ssq">
                    <div class="ball_area" id="GameBallsContanior">
                        <div id="SSQ_BZXH" style="">
                            <h1 class="playprompt">
                                <em>玩法提示：</em>
                                由至少6个红球和1个篮球组成，单注奖金<b class="fred">500</b>万元。
                                <a href="javascript:" class="szc_notice ">
                                    <strong class="sl">示例</strong>
                                    <span>选号：01 02 03 04 05 06+01<br>
                                    开奖：<strong class="red">
                                    <b class="slnum">01</b>
                                    <b class="slnum">02</b>
                                    <b class="slnum">03</b>
                                    <b class="slnum">04</b>
                                    <b class="slnum">05</b>
                                    <b class="slnum">06</b>+<b class="blnum">01</b>
                                    </strong><br>奖金：5000000元。</span>
                                </a>
                            </h1>
                            <!--  红球选择  -->
                            <div class="red_balls redrow">
                                <div class="ssq_red">
                                    <strong>红球</strong> &nbsp;请选择6-20个红球
                                </div>
                                <div class="szc_num">
                                    <div class="szc_xuanhao">
                                        选号
                                    </div>

                                </div>
                                <ul class="clearfix ball" id="active_red">
                                    <li class="numbers"><b>01</b><span></span></li>
                                    <li class="numbers"><b>02</b><span></span></li>
                                    <li class="numbers"><b>03</b><span></span></li>
                                    <li class="numbers"><b>04</b><span></span></li>
                                    <li class="numbers"><b>05</b><span></span></li>
                                    <li class="numbers"><b>06</b><span></span></li>
                                    <li class="numbers"><b>07</b><span></span></li>
                                    <li class="numbers"><b>08</b><span></span></li>
                                    <li class="numbers"><b>09</b><span></span></li>
                                    <li class="numbers"><b>10</b><span></span></li>
                                    <li class="numbers"><b>11</b><span></span></li>
                                    <li class="numbers"><b>12</b><span></span></li>
                                    <li class="numbers"><b>13</b><span></span></li>
                                    <li class="numbers"><b>14</b><span></span></li>
                                    <li class="numbers"><b>15</b><span></span></li>
                                    <li class="numbers"><b>16</b><span></span></li>
                                    <li class="numbers"><b>17</b><span></span></li>
                                    <li class="numbers"><b>18</b><span></span></li>
                                    <li class="numbers"><b>19</b><span></span></li>
                                    <li class="numbers"><b>20</b><span></span></li>
                                    <li class="numbers"><b>21</b><span></span></li>
                                    <li class="numbers"><b>22</b><span></span></li>
                                    <li class="numbers"><b>23</b><span></span></li>
                                    <li class="numbers"><b>24</b><span></span></li>
                                    <li class="numbers"><b>25</b><span></span></li>
                                    <li class="numbers"><b>26</b><span></span></li>
                                    <li class="numbers"><b>27</b><span></span></li>
                                    <li class="numbers"><b>28</b><span></span></li>
                                    <li class="numbers"><b>29</b><span></span></li>
                                    <li class="numbers"><b>30</b><span></span></li>
                                    <li class="numbers"><b>31</b><span></span></li>
                                    <li class="numbers"><b>32</b><span></span></li>
                                    <li class="numbers"><b>33</b><span></span></li>
                                </ul>
                                <p class="random_selection">
                                    <select id="rand_sel_red">
                                        <option selected="selected" value="12">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                    </select>
                                    <a t="1" title="连续点击将获取不同的红球" 
                                       class="random_btn red_random_btn" ng-click="randomSelectRed()">机选红球</a>
                                    <a title="清空所有已选红球" t="1" href="javascript:void(0)"
                                       class="clearbtn clearbtn_1" ng-click="clearRed()">清空</a>
                                </p>
                            </div>
                            <div class="blue_balls bluerow">
                                <div class="ssq_red ssq_blue">
                                    <strong>蓝球</strong> &nbsp;请选择1-16个蓝球
                                </div>
                                <ul class="clearfix ball" id="active_blue">
                                    <li class="numbers"><b>01</b> <span></span></li>
                                    <li class="numbers"><b>02</b> <span></span></li>
                                    <li class="numbers"><b>03</b> <span></span></li>
                                    <li class="numbers"><b>04</b> <span></span></li>
                                    <li class="numbers"><b>05</b> <span></span></li>
                                    <li class="numbers"><b>06</b> <span></span></li>
                                    <li class="numbers"><b>07</b> <span></span></li>
                                    <li class="numbers"><b>08</b> <span></span></li>
                                    <li class="numbers"><b>09</b> <span></span></li>
                                    <li class="numbers"><b>10</b> <span></span></li>
                                    <li class="numbers"><b>11</b> <span></span></li>
                                    <li class="numbers"><b>12</b> <span></span></li>
                                    <li class="numbers"><b>13</b> <span></span></li>
                                    <li class="numbers"><b>14</b> <span></span></li>
                                    <li class="numbers"><b>15</b> <span></span></li>
                                    <li class="numbers"><b>16</b> <span></span></li>
                                </ul>
                                <p class="random_selection">
                                    <select id="rand_sel_blue">
                                        <option selected="selected" value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                    </select>
                                    <a t="2" title="连续点击可获取不同的蓝球" href="javascript:void(0)"
                                       class="random_btn blue_random_btn" ng-click="randomSelectBlue()">机选蓝球</a>
                                    <a title="清空所有已选蓝球" t="2" href="javascript:void(0)"
                                       class="clearbtn clearbtn_2" ng-click="clearBlue()">清空</a>
                                </p>
                            </div>
                        </div>

                        <div id="SSQ_TDTZ" style="display:none;">
                            <h1 class="playprompt">
                                <em>玩法提示：</em> 选择1-5个你认为必出的红球号码（胆码），2个以上你认为可能会出的红球号码（拖码），至少一个蓝球号码组合进行投注！单注奖金
                                <b class="fred">500</b>万元！
                                <a href="javascript:" class="szc_notice ">
                                    <strong class="sl">示例</strong>
                        <span>选号：[胆]01[拖]02 03 04 05 06 07+01<br>
                            开奖：<strong class="red"><b class="slnum">01</b> <b class="slnum">02</b>
                                <b class="slnum">03</b> <b class="slnum">04</b> <b class="slnum">05</b> <b
                                        class="slnum">06</b>+
                                <b class="blnum">01</b></strong><br>
                            奖金：5000000元。</span>
                                </a>
                            </h1>
                            <div class="danma clear">
                                <div style="top: 95px; *top: 102px;" class="szc_num">
                                    <div class="szc_xuanhao">
                                        选号
                                    </div>
                                    <div class="szc_yilou">
                                        <cite title="指该号码自上次开出之后到当前期没有出现的次数" val="yl">遗漏</cite>
                                        <em>
                                            <a title="指该号码自上次开出之后到当前期没有出现的次数" val="lr" href="#">冷热</a>
                                            <a title="隐藏" val="hd" href="#">隐藏</a>
                                        </em>
                                    </div>
                                </div>
                                <div class="dan_con">
                                    <strong>胆码区</strong> &nbsp;您认为<em class="c_ba1d21">必出</em>的号码
                                </div>
                                <div class="red_balls danma">
                                    <p class="dantuo_title"><strong class="c_ba1d21">红球</strong>至少选择1个，最多5个</p>
                                    <ul class="clearfix ball">
                                        <li class="numbers"><b>01</b><span></span></li>
                                        <li class="numbers"><b>02</b><span></span></li>
                                        <li class="numbers"><b>03</b><span></span></li>
                                        <li class="numbers"><b>04</b><span></span></li>
                                        <li class="numbers"><b>05</b><span></span></li>
                                        <li class="numbers"><b>06</b><span></span></li>
                                        <li class="numbers"><b>07</b><span></span></li>
                                        <li class="numbers"><b>08</b><span></span></li>
                                        <li class="numbers"><b>09</b><span></span></li>
                                        <li class="numbers"><b>10</b><span></span></li>
                                        <li class="numbers"><b>11</b><span></span></li>
                                        <li class="numbers"><b>12</b><span></span></li>
                                        <li class="numbers"><b>13</b><span></span></li>
                                        <li class="numbers"><b>14</b><span></span></li>
                                        <li class="numbers"><b>15</b><span></span></li>
                                        <li class="numbers"><b>16</b><span></span></li>
                                        <li class="numbers"><b>17</b><span></span></li>
                                        <li class="numbers"><b>18</b><span></span></li>
                                        <li class="numbers"><b>19</b><span></span></li>
                                        <li class="numbers"><b>20</b><span></span></li>
                                        <li class="numbers"><b>21</b><span></span></li>
                                        <li class="numbers"><b>22</b><span></span></li>
                                        <li class="numbers"><b>23</b><span></span></li>
                                        <li class="numbers"><b>24</b><span></span></li>
                                        <li class="numbers"><b>25</b><span></span></li>
                                        <li class="numbers"><b>26</b><span></span></li>
                                        <li class="numbers"><b>27</b><span></span></li>
                                        <li class="numbers"><b>28</b><span></span></li>
                                        <li class="numbers"><b>29</b><span></span></li>
                                        <li class="numbers"><b>30</b><span></span></li>
                                        <li class="numbers"><b>31</b><span></span></li>
                                        <li class="numbers"><b>32</b><span></span></li>
                                        <li class="numbers"><b>33</b><span></span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clear">
                                <div class="tuo_con">
                                    <strong>拖码区</strong> &nbsp;您认为<em class="c_ba1d21">可能出</em>的号码
                                </div>
                                <div class="red_balls tuoma">
                                    <p class="dantuo_title"><strong class="c_ba1d21">红球</strong>至少选择2个</p>
                                    <ul class="clearfix ball">
                                        <li class="numbers"><b>01</b><span></span></li>
                                        <li class="numbers"><b>02</b><span></span></li>
                                        <li class="numbers"><b>03</b><span></span></li>
                                        <li class="numbers"><b>04</b><span></span></li>
                                        <li class="numbers"><b>05</b><span></span></li>
                                        <li class="numbers"><b>06</b><span></span></li>
                                        <li class="numbers"><b>07</b><span></span></li>
                                        <li class="numbers"><b>08</b><span></span></li>
                                        <li class="numbers"><b>09</b><span></span></li>
                                        <li class="numbers"><b>10</b><span></span></li>
                                        <li class="numbers"><b>11</b><span></span></li>
                                        <li class="numbers"><b>12</b><span></span></li>
                                        <li class="numbers"><b>13</b><span></span></li>
                                        <li class="numbers"><b>14</b><span></span></li>
                                        <li class="numbers"><b>15</b><span></span></li>
                                        <li class="numbers"><b>16</b><span></span></li>
                                        <li class="numbers"><b>17</b><span></span></li>
                                        <li class="numbers"><b>18</b><span></span></li>
                                        <li class="numbers"><b>19</b><span></span></li>
                                        <li class="numbers"><b>20</b><span></span></li>
                                        <li class="numbers"><b>21</b><span></span></li>
                                        <li class="numbers"><b>22</b><span></span></li>
                                        <li class="numbers"><b>23</b><span></span></li>
                                        <li class="numbers"><b>24</b><span></span></li>
                                        <li class="numbers"><b>25</b><span></span></li>
                                        <li class="numbers"><b>26</b><span></span></li>
                                        <li class="numbers"><b>27</b><span></span></li>
                                        <li class="numbers"><b>28</b><span></span></li>
                                        <li class="numbers"><b>29</b><span></span></li>
                                        <li class="numbers"><b>30</b><span></span></li>
                                        <li class="numbers"><b>31</b><span></span></li>
                                        <li class="numbers"><b>32</b><span></span></li>
                                        <li class="numbers"><b>33</b><span></span></li>
                                    </ul>
                                </div>
                                <div class="blue_balls bluerow" id="ssq_dantuo_blue">
                                    <div class="dantuo_title"><strong class="c_2042a2">蓝球</strong> &nbsp;至少选择1个</div>
                                    <ul class="clearfix">
                                        <li class="numbers"><b>01</b> <span>-</span></li>
                                        <li class="numbers"><b>02</b> <span>-</span></li>
                                        <li class="numbers"><b>03</b> <span>-</span></li>
                                        <li class="numbers"><b>04</b> <span>-</span></li>
                                        <li class="numbers"><b>05</b> <span>-</span></li>
                                        <li class="numbers"><b>06</b> <span>-</span></li>
                                        <li class="numbers"><b>07</b> <span>-</span></li>
                                        <li class="numbers"><b>08</b> <span>-</span></li>
                                        <li class="numbers"><b>09</b> <span>-</span></li>
                                        <li class="numbers"><b>10</b> <span>-</span></li>
                                        <li class="numbers"><b>11</b> <span>-</span></li>
                                        <li class="numbers"><b>12</b> <span>-</span></li>
                                        <li class="numbers"><b>13</b> <span>-</span></li>
                                        <li class="numbers"><b>14</b> <span>-</span></li>
                                        <li class="numbers"><b>15</b> <span>-</span></li>
                                        <li class="numbers"><b>16</b> <span>-</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div id="SSQ_SGSR" style="display:none;">
                            <div class="game-ballsmain">

                                <h1 class="playprompt"><em class="">手工录入：</em>至少选择6个红球和一个篮球，最高奖金<b class="red">1000万</b>元
                                </h1>
                                <div class="import_numberarea">
                                    <p class="tip2 gray">
                                        <i></i>请把已有号码复制(导入)文本框，每注号码用空格或换行符(回车)隔开，每个号码用"," "." "+"分开，也可不使用符号 [仅支持单式]
                                    </p>
                                    <textarea id="import_numberarea" class="upload_body"></textarea>
                                    <p class="rdesc gray">
                                        <b>号码格式：</b><br>
                                        01,02,03,04,05,06|07<br>
                                        01.02.03.04.05.06|07<br>
                                        01+02+03+04+05+06|07<br>
                                        010203040506|07<br>
                                    </p>
                                    <div class="clearfix">
                                    </div>
                                    <div class="import_buttonrow">
                                        <form method="post" action="/UploadNumber" enctype="multipart/form-data"
                                              id="importNumberForm">
                                            <input id="import_filepath" name="import_file" size="30" type="file">
                                        </form>
                                        <input class="upbtn" value="导入" id="btn_importnumber" type="button"><span
                                            class="yellow">
                [支持记事本，导入内容覆盖原有内容]</span>
                                        <div class="clear">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="select_result">
                        <span id="betstatics">您当前选中了共 <b id="items" class="fred">0</b> 注，共 <b id="sum" class="fred">0</b> 元 </span>
                    </div>
                    <p class="sure">
                        <sure-to-select toselect="SureToSelect()" clearall="clearAll()"></sure-to-select>
                    </p>
                    <div class="ssq_entry">
                        <div class="selected_list">
                            <ul id="BetNumberListContanior">
                            </ul>
                        </div>
                        <label class="cite_title" for="jxBtn1">
                            <input id="jxBtn1" value="机选一注" class="del_all1" 
                                   type="button" ng-click="SelectOne()">
                        </label>
                        <label class="cite_title" for="jxBtn5">
                            <input id="jxBtn5" value="机选五注" class="del_all1"
                                   type="button" ng-click="SelectFive()">
                        </label>
                        <input maxlength="3" class="jx_txt" id="jxBtnTxt" value="10注"
                               onkeyup="this.value=this.value.replace(/[^\d]/g,'')" type="text">
                        <label class="cite_title">
                            <input id="jxBtn" value="机选" class="del_all2" oncontextmenu="return false;"
                                   type="button" ng-click="SelectAny()">
                        </label>
                        <label for="removeAllBtn">
                            <input id="removeAllBtn" value="清空列表" class="del_all1 gray_but" name="Submit2"
                                    type="button" ng-click="ClearAllList()">
                        </label>
                        <div class="user_account">
                            <span>共 <em id="totalItems">{{totalNumber}}</em> 注，</span> <span class="multiple_span" id="multipleInfo">
                        <span>我要买</span>
                        <input accesskey="-" id="beiDown" class="sub_btn sub_btn_des" type="button" ng-click="beiDown()">
                        <input class="muti_input" size="5" value="1" id="multiple" type="text">
                        <input  id="beiUp" class="add_btn" type="button" ng-click="beiUp()">倍 <b class="gray">(最高限投99999倍)</b>，
                    </span><span>合计金额 <em id="totalSum">{{totalMoney}}</em> 元</span>
                        </div>
                        <div class="clear">
                        </div>
                        <div id="buyType" class="touzhu_modo">
                            
                        </div>
                        <div class="groupBox">
                            <!--我要合买-->
                            <div style="display: none; padding-top: 5px" id="buyHm" class="project_cont buyhm">
                                
                            </div>
                            <div class="clearfix">
                            </div>
                        </div>
                    </div>
                    <div class="ssq_goumai_but">
                        <div class="myaccount clear">
                            <em>账户信息：</em>
                            <div id="bet_user_account">
                                <div class="logininfo"><strong
                                        class="logininfo_name"><b>“</b>{{account}}<b>”</b></strong>，您的账户余额<span
                                        id="useralid_money" class="fred">0.00</span> 元<a href="/member/pay"
                                                                                         target="_blank"
                                                                                         class="user_ico">[<b>账户充值</b>]</a><a
                                        href="javascript:user.logOut(true);" class="loginout">[退出]</a></div>
                            </div>
                        </div>
                        <p class="buyBtns">
                            <input accesskey="s" id="submitCaseBtn" class="dialogBtn" value="立即购买" name="submitCaseBtn" type="button" ng-click="goToCheck()">
                        </p>
                        <p>
                            <input checked="checked" id="agreement" value="1" name="checkbox" type="checkbox">
                            <label for="agreement">
                                我已阅读《<a target="_blank" href="/staticHtml/help/safety/betpact1.html">用户合买代购协议</a>》并同意其中条款。</label>
                        </p>
                        <input class="hide" checked="checked" id="agreement2" type="checkbox">
                    </div>
                </div>
                <!--buy_single -->
                <div class="szc_right">
                    <!--开奖信息-->
                    <div class="content_pub web_news">
                        <div class="cp_slide_nav">
                            <label class="cp_slide_tip">
                                双色球开奖信息</label>
                            <a target="_blank" href="javascript:void(0)" class="more">更多&gt;&gt;</a>
                        </div>
                        <div id="prizeInfo" class="cp_slide_body">

                        </div>
                        <div class="cp_slide_banner">
                        </div>
                    </div>            <!--近10期开奖号码-->
                    <div class="content_pub prize_number">
                        <div class="cp_slide_nav">
                            <label class="cp_slide_tip">
                                近10期双色球开奖号码</label>
                            <a href="javascript:void(0)" target="_blank" class="more">
                                更多&gt;&gt;</a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="selectTableModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >  
    <div class="modal-dialog" role="document">  
        <div class="modal-content">  
            <div class="modal-header">  
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">  
                    <span aria-hidden="true">×</span>  
                </button>  
                <h4 class="modal-title" id="myModalLabel">请输入密码</h4>  
            </div>  
            <div class="modal-body">  
                <input type="password" id="password" class="form-control" ng-keypress="keyToPhoto($event)" autofocus="autofocus">
            </div>  
            <div class="modal-footer">  
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>  
           <button id="submit" type="button" class="btn btn-primary" ng-click="goToPhoto()" >OK</button>  
        </div>  
    </div>  
</div>